<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
        <title>lista della spesa</title>
    </head>
    <p>{{paperino}}</p>
    <body>
        <h1>la tua lista della spesa</h1>
        {% if lista %}
        <ul>
            {% for elemento in lista %}
            <li>{{ elemento }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>la lista è vuota</p>
    {% endif %}
    </body>
</html>